<div class="row my-4">
    <div class="col-11">
        <input type="text" name="inputBuscar" class="form-control" placeholder="Buscar alumno por clave única" [(ngModel)]="inputBuscar" (ngModelChange)="buscarChange()"/>
    </div>
    <div class="col-1">
        <div class="btn btn-primary"><i class="bi bi-search"></i></div>
    </div>
</div>

      <div class="container my-5" style="height: 31vh">
        <div class="table-responsive" style="max-height: 460px;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="ps-3">Clave única</th>
                <th scope="col" class="text-center">Ver historial</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paciente of filteredPacientes">
                <td class="ps-3">{{ paciente }}</td>
                <td class="text-center clickable">
                  <button type="button" class="btn btn-secondary" (click)="verAlumnoAtendido(paciente)">
                    <i class="bi bi-eye"></i>
                  </button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
