<form>
    <div class="row my-4">
        <div class="col-11">
            <input type="text" class="form-control" placeholder="Buscar alumno por clave única" />
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
        </div>
    </div>
</form>

<div class="container my-5">
    <div class="table-responsive" style="max-height: 460px;">
        <table class="table table-striped">
            <thead>
                <tr> 
                    <th scope="col">Clave única</th>
                    <th scope="col" class="text-center">Ver historial</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>325850</td>
                    <td class="text-center clickeable" (click)="verAlumnoAtendido(325850)">Ver <i class="bi bi-eye-fill"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
