<div class="mt-0">
    <footer>
        <div class="fondoFooter" style="height:10px !important"></div>
        <div class="piePagina text-white">
            <div class="container">
                <div id="circulos" class="row">
                    <div class="col-12 col-md-9">
                        <div class="row">
                            <div class="col-1 circulo"></div>
                            <div class="col-1 circulo"></div>
                            <div class="col-1 circulo"></div>
                            <div class="col-1 circulo"></div>
                        </div>
                        <div class="row" id="identidad">
                            <span><b>SIGLAS</b></span><br />
                            <span>Nombre de entidad</span><br />
                            <span>Dirección completa (calle #número, colonia, CP)</span><br />
                            <span>Estado, Municipio</span><br />
                            <span>Teléfono(s)</span><br />
                            <span>©Todos los derechos reservados</span><br />
                        </div>
                    </div>
                    <div class="col-12 col-md-3 m-3 m-md-0">
                        <div class="h-75 d-flex flex-column bd-highlight justify-content-start align-items-start">
                            <div class="bd-highlight"><a href="#">Inicio</a></div>
                            <div class="bd-highlight"><a href="#">Con submenu</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
