.ck-content {
    max-width: 210mm; 
    min-height: 297mm;
    padding: 20mm;
    margin: auto;
    background: #fff; 
    box-shadow: 0 0 5px rgba(0,0,0,0.1); 
}

#vistaPrevia {
    max-width: 210mm;
    min-height: 297mm;
    margin: auto;
    padding: 20mm;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border: 1px solid #ddd;
    overflow: hidden;
    display: block; 
}
