<div class="sticky-top">
    <div class="header container-fluid">
        <div class="container">
            <div class="row header">

                <!-- Logo UASLP y logo de entidad -->
                <div
                    class="col-12 col-md-auto d-flex justify-content-center justify-content-md-start align-items-center">
                    <a href="https://www.uaslp.mx">
                        <img src="assets/logo-uaslp.png" class="img-fluid logoUASLP" />
                    </a>
                    <p class="textoUASLP d-none"><a href="https://www.uaslp.mx">UASLP</a></p>

                    <div class="divisorUASLP-ENTIDAD me-2 ms-2"></div>
                    <div class="divisorUASLP-ENTIDADScroll d-none me-2 ms-3"></div>

                    <!-- Colocar link y ruta de imagen de logo de entidad -->
                    <a href="#" class="me-2">
                        <!-- <img src="assets/logo-fi.png" class="img-fluid logoUASLP" /> -->
                        <p>
                            DEPARTAMENTO DE ATENCI&Oacute;N <br>PSICOL&Oacute;GICA
                        </p>
                    </a>
                    <p class="textoUASLP d-none me-2">
                        <!-- Siglas de entidad -->
                        DAP
                    </p>
                </div>

                <div
                    class="col-12 col-md-auto flex-grow-1 justify-content-center justify-content-md-end align-items-center pt-md-0 pt-2 d-none d-md-block d-lg-block d-xl-block">
                    <div
                        class="h-75 d-flex flex-column flex-sm-row bd-highlight justify-content-end align-items-sm-end pt-sm-0 pt-5 align-items-center">

                        <div *ngIf="tipoUsuario !== ''" class="p-1 px-1 bd-highlight"><a href="#">Inicio
                            </a><span class="text-white"> | </span></div>
                        <!-- Opciones para Alumno -->
                        <div *ngIf="tipoUsuario === 'alumno'" class="p-1 px-1 bd-highlight"><a href="#">Agendar
                                cita</a><span class="text-white"> | </span></div>
                        <div *ngIf="tipoUsuario === 'alumno'" class="p-1 px-1 bd-highlight"><a href="#">Mis
                                citas</a><span class="text-white"> | </span>
                        </div>

                        <!-- Opciones para Psicólogo y Psicólogo Externo (comparten opciones más Cambiar contraseña para Psicólogo Externo) -->
                        <div *ngIf="tipoUsuario === 'psicologo' || tipoUsuario === 'psicologo_externo'"
                            class="p-1 px-1 bd-highlight"><a href="#">Gestión de agenda</a><span class="text-white"> |
                            </span></div>
                        <div *ngIf="tipoUsuario === 'psicologo' || tipoUsuario === 'psicologo_externo'"
                            class="p-1 px-1 bd-highlight"><a href="#">Reporte de citas</a><span class="text-white"> |
                            </span></div>
                        <div *ngIf="tipoUsuario === 'psicologo' || tipoUsuario === 'psicologo_externo'"
                            class="p-1 px-1 bd-highlight"><a href="#">Cita urgente</a><span class="text-white"> |
                            </span></div>
                        <div *ngIf="tipoUsuario === 'psicologo' || tipoUsuario === 'psicologo_externo'"
                            class="p-1 px-1 bd-highlight"><a href="#">Alumnos atendidos</a><span
                                *ngIf="tipoUsuario === 'psicologo'" class="text-white"> | </span></div>
                        <div *ngIf="tipoUsuario === 'psicologo_externo'" class="p-1 px-1 bd-highlight"><a
                                href="#">Cambiar contraseña</a><span class="text-white"> | </span></div>

                        <!-- Opciones para Administrador -->
                        <div *ngIf="tipoUsuario === 'administrador'" class="p-1 px-1 bd-highlight"><a href="#">Añadir
                                psicólogo</a><span class="text-white"> | </span></div>
                        <div *ngIf="tipoUsuario === 'administrador'" class="p-1 px-1 bd-highlight"><a href="#">Gestionar
                                psicólogos</a><span class="text-white"> | </span></div>
                        <div *ngIf="tipoUsuario === 'administrador'" class="p-1 px-1 bd-highlight"><a href="#">Generar
                                reporte</a><span class="text-white"> | </span></div>
                        <div *ngIf="tipoUsuario !== ''" class="p-1 px-1 bd-highlight"><a href="#">Cerrar sesión</a>
                        </div>



                    </div>
                </div>

                <div class="col-12 col-md-auto d-block d-sm-none">
                    <div class="row">
                        <!-- Opción de Inicio para cualquier usuario que no sea una cadena vacía -->
                        <div *ngIf="tipoUsuario !== ''" class="col px-1"><a href="#">Inicio</a></div>

                        <!-- Opciones para Alumno -->
                        <div *ngIf="tipoUsuario === 'alumno'" class="col px-1"><a href="#">Agendar cita</a></div>
                        <div *ngIf="tipoUsuario === 'alumno'" class="col px-1"><a href="#">Mis citas</a></div>

                        <!-- Opciones para Psicólogo y Psicólogo Externo  -->
                        <div *ngIf="tipoUsuario === 'psicologo' || tipoUsuario === 'psicologo_externo'"
                            class="col px-1"><a href="#">Gestión de agenda</a></div>
                        <div *ngIf="tipoUsuario === 'psicologo' || tipoUsuario === 'psicologo_externo'"
                            class="col px-1"><a href="#">Reporte de citas</a></div>
                        <div *ngIf="tipoUsuario === 'psicologo' || tipoUsuario === 'psicologo_externo'"
                            class="col px-1"><a href="#">Cita urgente</a></div>
                        <div *ngIf="tipoUsuario === 'psicologo' || tipoUsuario === 'psicologo_externo'"
                            class="col px-1"><a href="#">Alumnos atendidos</a></div>
                        <div *ngIf="tipoUsuario === 'psicologo_externo'" class="col px-1"><a href="#">Cambiar
                                contraseña</a></div>

                        <!-- Opciones para Administrador -->
                        <div *ngIf="tipoUsuario === 'administrador'" class="col px-1"><a href="#">Añadir psicólogo</a>
                        </div>
                        <div *ngIf="tipoUsuario === 'administrador'" class="col px-1"><a href="#">Gestionar
                                psicólogos</a></div>
                        <div *ngIf="tipoUsuario === 'administrador'" class="col px-1"><a href="#">Generar reporte</a>
                        </div>

                        <!-- Opción de Cerrar sesión para cualquier usuario -->
                        <div *ngIf="tipoUsuario !== ''" class="col px-1"><a href="#">Cerrar sesión</a></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fondoFooter" style="height:10px !important"></div>

    <!-- <nav class="navbar navbar-expand-lg menu">
        <div class="container">
            <a class="texto-proceso" href="#"> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa fa-bars" style="color: #09579d"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="op1" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Con submenu
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="op1">
                            <li class="nav-item">
                                <a class="dropdown-item" href="#">Inicio</a>
                            </li>
                            <li class="nav-item" *ngIf="tipoUsuario === 'alumno'">
                                <a class="dropdown-item" href="#">Agendar cita</a>
                            </li>
                            <li class="nav-item" *ngIf="tipoUsuario === 'alumno'">
                                <a class="dropdown-item" href="#">Mis citas</a>
                            </li>
                            <li class="nav-item"
                                *ngIf="tipoUsuario === 'psicologo' || tipoUsuario === 'psicologoExterno'">
                                <a class="dropdown-item" href="#">Gestion agenda</a>
                            </li>
                            <li class="nav-item"
                                *ngIf="tipoUsuario === 'psicologo' || tipoUsuario === 'psicologoExterno'">
                                <a class="dropdown-item" href="#">Reporte de citas</a>
                            </li>
                            <li class="nav-item"
                                *ngIf="tipoUsuario === 'psicologo' || tipoUsuario === 'psicologoExterno'">
                                <a class="dropdown-item" href="#">Cita urgente</a>
                            </li>
                            <li class="nav-item"
                                *ngIf="tipoUsuario === 'psicologo' || tipoUsuario === 'psicologoExterno'">
                                <a class="dropdown-item" href="#">Alumnos atendidos</a>
                            </li>
                            <li class="nav-item" *ngIf="tipoUsuario === 'psicologoExterno'">
                                <a class="dropdown-item" href="#">Cambiar contraseña</a>
                            </li>
                            <li class="nav-item" *ngIf="tipoUsuario === 'administrador'">
                                <a class="dropdown-item" href="#">Añadir psicologo</a>
                            </li>
                            <li class="nav-item" *ngIf="tipoUsuario === 'administrador'">
                                <a class="dropdown-item" href="#">Gestionar Psicologos</a>
                            </li>
                            <li class="nav-item" *ngIf="tipoUsuario === 'administrador'">
                                <a class="dropdown-item" href="#">Generar Reporte</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
</div>