<div class="sticky-top">
    <div class="header container-fluid">
        <div class="container">
            <div class="row header">

                <!-- Logo UASLP y logo de entidad -->
                <div
                    class="col-12 col-md-auto d-flex justify-content-center justify-content-md-start align-items-center">
                    <a href="https://www.uaslp.mx">
                        <img src="assets/logo-uaslp.png" class="img-fluid logoUASLP" />
                    </a>
                    <p class="textoUASLP d-none"><a href="https://www.uaslp.mx">UASLP</a></p>

                    <div class="divisorUASLP-ENTIDAD me-2 ms-2"></div>
                    <div class="divisorUASLP-ENTIDADScroll d-none me-2 ms-3"></div>

                    <!-- Colocar link y ruta de imagen de logo de entidad -->
                    <a href="#" class="me-2">
                        <!-- <img src="assets/logo-fi.png" class="img-fluid logoUASLP" /> -->
                        <p>
                            DEPARTAMENTO DE ATENCI&Oacute;N <br>PSICOL&Oacute;GICA
                        </p>
                    </a>
                    <p class="textoUASLP d-none me-2">
                        <!-- Siglas de entidad -->
                        DAP
                    </p>
                </div>
                <div
                    class="col-12 col-md-auto flex-grow-1 justify-content-center justify-content-md-end align-items-center pt-md-0 pt-2 d-none d-md-block d-lg-block d-xl-block">
                    <div
                        class="h-75 d-flex flex-column flex-sm-row bd-highlight justify-content-end align-items-sm-end pt-sm-0 pt-5 align-items-center">
                        <div *ngFor="let ruta of rutasFiltradas; let i = index" class="p-1 px-1 bd-highlight">
                            <a *ngIf="ruta.tipoUsuario.includes(tipoUsuario)" [routerLink]="ruta.path">{{ ruta.title }}</a>
                            <span *ngIf="i < rutasFiltradas.length - 1" class="text-white"> | </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-auto d-block d-sm-none">
                    <div class="row">
                        <div *ngFor="let ruta of rutasFiltradas; let i = index" class="col px-1">
                            <a *ngIf="ruta.tipoUsuario.includes(tipoUsuario)" [routerLink]="ruta.path">{{ ruta.title }}</a>
                            <span *ngIf="i < rutasFiltradas.length - 1" class="text-white"> | </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fondoFooter" style="height:10px !important"></div>

    <!-- <nav class="navbar navbar-expand-lg menu">
        <div class="container">
            <a class="texto-proceso" href="#"> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa fa-bars" style="color: #09579d"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="op1" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Con submenu
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="op1">
                            <li class="nav-item">
                                <a class="dropdown-item" href="#">Inicio</a>
                            </li>
                            <li class="nav-item" *ngIf="tipoUsuario === 'alumno'">
                                <a class="dropdown-item" href="#">Agendar cita</a>
                            </li>
                            <li class="nav-item" *ngIf="tipoUsuario === 'alumno'">
                                <a class="dropdown-item" href="#">Mis citas</a>
                            </li>
                            <li class="nav-item"
                                *ngIf="tipoUsuario === 'psicologo' || tipoUsuario === 'psicologoExterno'">
                                <a class="dropdown-item" href="#">Gestion agenda</a>
                            </li>
                            <li class="nav-item"
                                *ngIf="tipoUsuario === 'psicologo' || tipoUsuario === 'psicologoExterno'">
                                <a class="dropdown-item" href="#">Reporte de citas</a>
                            </li>
                            <li class="nav-item"
                                *ngIf="tipoUsuario === 'psicologo' || tipoUsuario === 'psicologoExterno'">
                                <a class="dropdown-item" href="#">Cita urgente</a>
                            </li>
                            <li class="nav-item"
                                *ngIf="tipoUsuario === 'psicologo' || tipoUsuario === 'psicologoExterno'">
                                <a class="dropdown-item" href="#">Alumnos atendidos</a>
                            </li>
                            <li class="nav-item" *ngIf="tipoUsuario === 'psicologoExterno'">
                                <a class="dropdown-item" href="#">Cambiar contraseña</a>
                            </li>
                            <li class="nav-item" *ngIf="tipoUsuario === 'administrador'">
                                <a class="dropdown-item" href="#">Añadir psicologo</a>
                            </li>
                            <li class="nav-item" *ngIf="tipoUsuario === 'administrador'">
                                <a class="dropdown-item" href="#">Gestionar Psicologos</a>
                            </li>
                            <li class="nav-item" *ngIf="tipoUsuario === 'administrador'">
                                <a class="dropdown-item" href="#">Generar Reporte</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
</div>