<div class="container fade-in">
    <div class="container">
        <div class="mb-3">
            <!-- <div *ngIf="!encontrado && buscado" class="text-danger mt-2">No se encontró ningún alumno con la clave única ingresada.</div> -->
            <table class="my-4">
                <tr>
                    <td class="bg-info">Clave &uacute;nica:</td>
                    <td class="input-td">
                        <input type="number" placeholder="Introduce una clave única válida" class="form-control" id="claveUnica" [(ngModel)]="claveUnica"
                        [(ngModel)]="cita.claveUnica" (change)="actualizarCita()" (keyup.enter)="buscarAlumno()" (blur)="buscarAlumno()" autofocus>
                    </td>
                </tr>
                <tr *ngIf="alumno">
                    <td class="bg-info">Nombre:</td>
                    <td *ngIf="encontrado==true">{{alumno.nombres}} {{alumno.apellidoPaterno}} {{alumno.apellidoMaterno}}</td>
                    <td *ngIf="encontrado==false"></td>
                </tr>
                <tr *ngIf="alumno">
                    <td class="bg-info">Fecha:</td>
                    <!-- <td *ngIf="encontrado">{{cita.fecha}} {{cita.hora}}</td> -->
                    <input type="date" [(ngModel)]="cita.fecha" placeholder="Introduce la fecha de la cita" (change)="actualizarCita()">
                    <input type="time" [(ngModel)]="cita.hora" placeholder="Selecciona la hora" (change)="actualizarCita()">
                </tr>
            </table>
        </div>
    </div>
</div>
