<h2>
    HISTORIAL DE ALUMNO ATENDIDO
</h2>
<div class="container my-5">
    <div class="table-responsive" style="max-height: 460px;">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td class="text-end">Nombre: </td>
                    <td>Nombre del alumno</td>
                    <td class="text-end">Condición académica: </td>
                    <td>Condición académica</td>
                </tr>
                <tr>
                    <td class="text-end">Clave única: </td>
                    <td>Clave única</td>
                    <td class="text-end">Promedio: </td>
                    <td>80</td>
                </tr>
                <tr>
                    <td class="text-end">Área: </td>
                    <td>CICOMP</td>
                    <td class="text-end">Créditos aprobados: </td>
                    <td>12+1</td>
                </tr>
                <tr>
                    <td class="text-end">Carrera: </td>
                    <td>Sistemas Inteligentes</td>
                    <td class="text-end">Créditos inscritos: </td>
                    <td>40</td>
                </tr>
                <tr>
                    <td class="text-end">Semestre: </td>
                    <td>8</td>
                    <td class="text-end">Sexo: </td>
                    <td>MF</td>
                </tr>
                <tr>
                    <td class="text-end">Asesor: </td>
                    <td>Asesor</td>
                    <td class="text-end">Edad: </td>
                    <td>22</td>
                </tr>
                <tr>
                    <td class="text-end">Foráneo: </td>
                    <td colspan="3">Si</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

<app-tabla-historial-citas></app-tabla-historial-citas>