<div class="container">
    <h6 class="my-2">Historial de citas</h6>

    <table class="table table-striped">
        <thead>
            <tr> 
                <th scope="col" class="text-center">Fecha</th>
                <th scope="col" class="text-center">Hora</th>
                <th scope="col">Psicólogo</th>
                <th scope="col" class="text-center">Reporte de cita</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">DD/MM/AAAA</td>
                <td class="text-center">00:00 hrs</td>
                <td>Psicólogo</td>
                <td class="text-center"><i class="bi bi-eye-fill"></i></td>

            </tr>
        </tbody>
    </table>

</div>