<div class="container my-5" style="margin-bottom: 100px!important;">
  <form>
    <div class="row">
      <div class="col">
        <label for="clave" class="oblig">Clave &uacute;nica/CURP:</label>
        <input type="text" class="form-control" id="clave" name="clave" placeholder="Clave &uacute;nica/CURP" [(ngModel)]="claveNuevo" required>
      </div>
      <div class="col">
        <label for="nombres" class="oblig">Nombre (s):</label>
        <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Nombres" [(ngModel)]="nuevoPsicologo.nombres" required>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="apellidoPat" class="oblig">Apellido Paterno:</label>
            <input type="text" class="form-control" id="apellidoPat" name="apePat" placeholder="Apellido Paterno" [(ngModel)]="nuevoPsicologo.apellidoPaterno" required>
        </div>
        <div class="col">
            <label for="apellidoMat">Apellido Materno:</label>
            <input type="text" class="form-control" id="apellidoMat" name="apeMat" placeholder="Apellido Materno" [(ngModel)]="nuevoPsicologo.apellidoMaterno" >
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="semestre" class="oblig">Semestre:</label>
            <input type="number" class="form-control" id="semestre" name="semestre" placeholder="Semestre" [(ngModel)]="nuevoPsicologo.semestre" required min="1" max="12">
        </div>
        <div class="col">
            <label for="carrera" class="oblig">Carrera:</label>
            <select id="carrera" class="form-select" name="carrera" name="carrera" placeholder="Carrera" [(ngModel)]="nuevoPsicologo.idCarrera" required>
                <option value="1">Licenciatura en Psicolog&iacute;a</option>
                <option value="2">Licenciatura en Psicopedagog&iacute;a</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="correo" class="oblig">Correo electr&oacute;nico</label>
            <input type="email" class="form-control" id="correo" name="correo" placeholder="Correo electr&oacute;nico" [(ngModel)]="nuevoPsicologo.correo" required>
        </div>
    </div>
    <div class="container text-center my-5">
        <button type="submit" class="btn btn-primary pull-center" style="width: 50%;" (click)="agregarPsicologo()">Guardar</button>
    </div>
  </form>

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
  </svg>
  <div class="alert alert-success fade-in d-flex align-items-center position-fixed top-50 start-50 translate-middle" role="alert" *ngIf="visible" style="z-index: 1000;">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
      El psicologo se ha añadido
    </div>
  </div>
</div>