<div class="row header">
    <!-- Logo UASLP y logo de entidad -->
    <div class="col-12 col-md-auto d-flex justify-content-center justify-content-md-start align-items-center">
        <a href="https://www.uaslp.mx">
            <img src="Images/logoUASLP.png" class="img-fluid logoUASLP" />
        </a>
        <p class="textoUASLP d-none"><a href="https://www.uaslp.mx">UASLP</a></p>

        <div class="divisorUASLP-ENTIDAD me-2 ms-2"></div>
        <div class="divisorUASLP-ENTIDADScroll d-none me-2 ms-3"></div>

        <a href="#" class="me-2">
           <img src="/" class="img-fluid logoUASLP" />
        </a>
        <p class="textoUASLP d-none me-2">
            UASLP
        </p>
    </div>


    <div class="col-12 col-md-auto flex-grow-1 justify-content-center justify-content-md-end align-items-center pt-md-0 pt-2 d-none d-md-block d-lg-block d-xl-block">
        <div class="h-75 d-flex flex-column flex-sm-row bd-highlight justify-content-end align-items-sm-end pt-sm-0 pt-5 align-items-center">
            <div class="p-1 px-1 bd-highlight"><a href="https://www.uaslp.mx/Paginas/Perfiles/2360">Menu</a><span class="text-white"> | </span></div>
            <div class="p-1 px-1 bd-highlight"><a href="https://www.uaslp.mx/Paginas/Perfiles/2361">Cerrar sesión</a></div>
        </div>
    </div>


</div>
  