<div class="dashboard-container">
    <h1>{{ welcomeMessage }}</h1>
    <div class="user-info">
      <p><strong>Nombre:</strong> {{ user.name }}</p>
      <p><strong>Rol:</strong> {{ user.role }}</p>
    </div>
    <div class="dashboard-links">
      <p>Este es el agendar Cita:</p>
      <!-- <app-calendario></app-calendario>
       -->
      <ul>
        <li><a href="#">Enlace 1</a></li>
        <li><a href="#">Enlace 2</a></li>
        <li><a href="#">Enlace 3</a></li>
      </ul>
    </div>
  </div>
  