<div class="container my-5">
    <form id="fecha">
      <div class="row">
        <div class="col-6">
          <label for="desde">Desde: </label>
          <input class="form-control" type="date" name="desde" id="desde-input">
        </div>
        <div class="col-6">
          <label for="hasta">Hasta</label> 
          <input class="form-control" type="date" name="hasta" id="hasta-input">
        </div>
      </div>
    </form>
  </div>
  
  <div class="container d-flex justify-content-center my-5">
    <button class="btn btn-primary" style="font-size: 15pt">Generar reporte</button>
  </div>
  
  <div class="container my-5 ms-5" style="padding-bottom: 100px;">
    <div class="row justify-content-around">
      <div class="col-3 justify-content-end">
        <button class="btn btn-primary" disabled style="font-size: 15pt">Visualizar</button>
      </div>
      <div class="col-3 justify-content-start">
        <button class="btn btn-primary" disabled style="font-size: 15pt">Descargar</button>
      </div>
    </div>
  </div>
  