<div class="container">
    <div class="row">
        <div class="col-5">
            <img src="assets/logo-uaslp_blue.png" alt="logo-UASLP" />
        </div>
        <div class="col-1">
            <hr class="vr mx-3" style="height: 50px; color: #23488C">
        </div>
        <div class="col-5">
            <img src="assets/logo-fi_blue.png" alt="logo-FI" />
        </div>
    </div>
    <h2 class="text-center mt-4">Departamento de Atenci&oacute;n Psicol&oacute;gica</h2>
    <hr style="color:#23488C;">
    <div class="container">
        <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="" class="form-label">CURP</label>
                <input
                    type="text"
                    class="form-control {{validarClave}}"
                    name="curp"
                    id="curp"
                    placeholder="CURP a 18 caracteres"
                    [(ngModel)] = "cvunica"
                    (ngModelChange)="onInputChange()"
                />
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Contrase&ntilde;a</label>
                <input
                    type="password"
                    class="form-control {{validarContrasena}}"
                    name="contrasena"
                    id="contrasena"
                    placeholder="Contrase&ntilde;a"
                    [(ngModel)] = "contrasena"
                    (ngModelChange)="onInputChange()"
                />
            </div>
            <button
                type="submit"
                class="btn btn-primary my-3 w-100"
            >
                Iniciar Sesi&oacute;n
            </button>
        </form>
        <p>¿Eres psic&oacute;logo interno? <span class="text-info" id="switchLogin" (click)="switchLogin()"><b>Inicia sesi&oacute;n aqu&iacute;</b></span></p>
    </div>
</div>